/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Inter:wght@400;500;600&display=swap');
@font-face {
  font-family: 'Agraham';
  src: url('/public/fonts/agraham/Agraham.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/montserrat-400.woff2') format('woff2'),
       url('/assets/fonts/montserrat-400.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* repeat for other weights/families */
